/* Kyle Graber CSS Customer View Version 1.0*/
/* Last Touched Feb 2 2019*/

/*This is to establish the body font and color of everything that is placed in body tags*/
    body {
        font-family: "cera_proregular", Arial, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        color: #77726D;
        background-color: #fff;
    }

    /* This is to get the color/font right on the headings*/
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: "cera_probold", Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        color: #006747;
    }

    p {
        margin: 0;
    }

    button{
        outline-color: #77726D;
        color: #006747;
        border-radius: 4px;
        cursor: pointer;
        height: 150px;
        width: 150px;
        padding: 0px;
    }

    button.selected {
        background-color: #006747;
        color: #ffffff;
    }

    button:hover{
        background-color: #006747;
        color: #ffffff;
    }

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]{
    display: inline-block;
    position: relative;
    top: -1px;
    width: 12px;
    height: 12px;
    margin: -1px 0px 0 0;
    vertical-align: middle;
    background: white left top no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
}
input[type="checkbox"]:checked{
    background: #d9534f -19px top no-repeat;
}

input[type="checkbox"]{
    margin-right: 4px;
}

.page-enter {
    transform: translate3d(0, 50%, 0);
    opacity: 0.01;
}

.page-enter.page-enter-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: all 600ms;
}

.page-exit {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.page-exit.page-exit-active {
    transform: translate3d(0, -50%, 0);
    opacity: 0.01;
    transition: all 600ms;
}

.pageBack-enter {
    transform: translate3d(0, -50%, 0);
    opacity: 0.01;
}

.pageBack-enter.pageBack-enter-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: all 600ms;
}

.pageBack-exit {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.pageBack-exit.pageBack-exit-active {
    transform: translate3d(0, 50%, 0);
    opacity: 0.01;
    transition: all 600ms;
}

.page {
    position: absolute;
}

#backButton {
    width: 100px;
    height: 40px;
}

#backButtonHolder {
    float: left;
    margin-right: 20px;
}

#loadingDiv {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto auto;
    width: 60px;
    height: 60px;
}

#headerText {
    display: inline-block;
    margin: 0px;
}

.loading-enter {
    opacity: 0.01;
}

.loading-enter.loading-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.loading-exit {
    opacity: 1;
}

.loading-exit.page-exit-active {
    opacity: 0.01;
}

.appointmentTime {
    padding: 5px;
    margin: 5px;
    width: 70px;
    text-align: center;
}

.timeSlots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
}

#slotHolder {
    margin-left: 5px;
    height: 450px;
    width: 370px;
    padding: 10px;
    overflow-y: scroll;
    border-top: 1px solid #006747;
    border-bottom: 1px solid #006747;
}

.distance {
    margin-left: 250px;
}

#map {
    width: 400px;
    height: 300px;
}

.error {
    color: red;
}