.page {
    position: absolute;
    left: 80px;
}

.page-enter {
    transform: translate3d(0, 50%, 0);
    opacity: 0.01;
}

.page-enter.page-enter-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: all 600ms;
}

.page-exit {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.page-exit.page-exit-active {
    transform: translate3d(0, -50%, 0);
    opacity: 0.01;
    transition: all 600ms;
}

.pageBack-enter {
    transform: translate3d(0, -50%, 0);
    opacity: 0.01;
}

.pageBack-enter.pageBack-enter-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: all 600ms;
}

.pageBack-exit {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.pageBack-exit.pageBack-exit-active {
    transform: translate3d(0, 50%, 0);
    opacity: 0.01;
    transition: all 600ms;
}

#backButton {
    width: 100px;
    height: 40px;
}

#backButtonHolder {
    float: left;
    margin-right: 20px;
}

#headerText {
    display: inline-block;
    margin: 0px;
}

.timeSlots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
}

#slotHolder {
    margin-left: 5px;
    height: 450px;
    width: 370px;
    padding: 10px;
    overflow-y: scroll;
    border-top: 1px solid #006747;
    border-bottom: 1px solid #006747;
}

.distance {
   float: right;
}

#map {
    width: 400px;
    height: 300px;
}

#progressBar {
    position: absolute;
}

.mapMarker {
    float: left;
    margin-top: 22px;
}

.branchData {
    margin-left: 40px;
    padding-top: 20px;
}

.branch {
    margin-bottom: 10px;
}

.detailsData {
    margin-left: 55px;
    margin-top: 20px;
}

.detailsIcon {
    float: left;
    margin-top: 20px;
}

.serviceIcon {
    display: block;
    margin: 5px auto;
}

#services {
    width: 600px;
}

.service {
    margin-right: 6px;
    margin-bottom: 6px;
}

input.appointmentTime {
    background-color: white;
    color: #006747;
    border: 2px solid #006747;
    padding: 5px;
    width: 75px;
    text-align: center;
    margin: 5px;
    font-size: 14px;
}

input.appointmentTime:hover {
    background-color: #006747;
    color: white;
}

input.appointmentTime:disabled {
    background-color: white;
    color: #77726D;
    border: 1px solid #77726D;
}

#confirmationDialog::before {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #006747;
    position: relative;
    top: -44px;
    left: 90px;
}

#confirmationDialog {
    width: 200px;
    margin: 10px 30px;
    border: 1px solid #006747;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

#confirmationDialog p {
    margin-top: -28px;
}

#yesButton {
    float: left;
}

#noButton {
    float: right;
}

.confirm-enter {
    opacity: 0.01;
}

.confirm-enter.confirm-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
}

.confirm-exit {
    opacity: 1;
}

.confirm-exit.confirm-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-out;
}

.pageHeader {
    margin-top: 18px;
    margin-bottom: 5px;
}

.emailConsent{
    height: 15px;
    width: 15px;
}

.TOS{
    font-size: 10px;
}

div.divForm{
    display: inline-block;
}

div.divFormr{
    display: inline-block;
    padding-left: 10px;
}

div.divLabel{
    display: block;
}

input[type="submit"] {
    margin-top: 10px;
}