/* Kyle Graber CSS Customer View Version 1.0*/
/* Last Touched Feb 2 2019*/

/*This is to establish the body font and color of everything that is placed in body tags*/
    body {
        font-family: "cera_proregular", Arial, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        color: #77726D;
        background-color: #fff;
    }

    /* This is to get the color/font right on the headings*/
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: "cera_probold", Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
        color: #006747;
    }

    button{
        outline-color: #77726D;
        color: #006747;
        border-radius: 4px;
        cursor: pointer;
        height: 150px;
        width: 150px;
        padding: 0px;
    }

    button:hover{
        background-color: #006747;
        color: #ffffff;
    }

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]{
    display: inline-block;
    position: relative;
    top: -1px;
    width: 12px;
    height: 12px;
    margin: -1px 0px 0 0;
    vertical-align: middle;
    background: white left top no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
}
input[type="checkbox"]:checked{
    background: #d9534f -19px top no-repeat;
}

input[type="checkbox"]{
    margin-right: 4px;
}


