#sideBar {
    position: fixed;
    height: 100%;
    width: 300px;
    border-right: 1px solid #006747;
    top: 0;
    left: 0;
    padding-top: 50px;
}

.sideBarItem {
    border-bottom: 1px solid #006747;
    padding: 10px;
    padding-left: 20px;
}

.sideBarItem:first-child {
    border-top: 1px solid #006747;
}

.sideBarItem:hover {
    cursor: pointer;
    background-color: #006747;
    color: white;
}

.selectedArrow {
    width: 0; 
    height: 0; 
    border-top: 24.5px solid transparent;
    border-bottom: 24.5px solid transparent;
    border-left: 12px solid #006747;
    position: relative;
    float: right;
    right: -23px;
    top: -11px;
}

.itemSelected {
    background-color: #006747;
    color: white;
}

.mainViewHolder {
    position: absolute;
    left: 300px;
    padding: 20px;
}

/* View transitions */
.view-enter {
    opacity: 0.01;
}

.view-enter.view-enter-active {
    opacity: 1;
    transition: opacity 400ms ease-in;
}

.view-exit {
    opacity: 1;
}

.view-exit.view-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-out;
}

.viewHeader {
    margin: 5px;
    text-align: center;
}

/* Appointment view */
.tableData {
    padding: 3px 10px;
}

.filterHeader, .headerData {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

.filterHeader:hover {
    color: #006747;
}

.filterHeader:focus {
    outline: none;
}

.filterHeader::before {
    display: none;
}

.hasFilterItems::after {
    border: 4px solid transparent;
    border-top-color: currentcolor;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: -2px;
    width: 0;
    margin-left: 3px;
}

.filterMenu {
    position: absolute!important;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(27,31,35,.15);
    color: #586069;
    margin-bottom: 20px;
    margin-top: 4px;
    overflow: hidden;
    width: 200px;
    z-index: 99;
    font-size: 14px;
}

.filterInput {
    margin: 10px;
}

.filterItem {
    border-top: 1px solid #eaecef;
    cursor: pointer;
    padding: 5px 10px;
}

.filterItem:hover {
    background-color: #006747;
    color: white;
}

details summary::-webkit-details-marker {
    display: none;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid #006747;
}

thead {
    background-color: #eaecef;
}

details:focus {
    outline: none;
}

.filterCheckmark {
    vertical-align: middle;
    float: left;
}

.filterItemText {
    margin-left: 20px;
}

a:hover {
    cursor: pointer;
    color: #006747;
}

.masterSearchInput {
    margin-bottom: 10px;
    width: 200px
}

.actionStart {
    border-left: 1px solid #006747;
}

/* Edit dialog */
.editDialog {
    position: fixed;
    margin: auto;
    background-color: #eaecef;
    padding: 10px;
    border: 2px solid #006747;
    border-radius: 3px;
    z-index: 99;
    top: 35% !important;
    left: 20% !important;
    right: 5% !important;
    /* width: 1031px; */
}

#grayout {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 9999;
}

.editItem {
    display: inline-block;
    margin-right: 10px;
}

.editItem input {
    max-width: 127px;
}

.editDialog > input {
    margin-right: 10px;
}

.editError {
    border: 2px solid red!important;
}

.editOptions {
    position: absolute!important;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 3px;
    box-shadow: 0 3px 12px rgba(27,31,35,.15);
    color: #586069;
    margin-bottom: 20px;
    margin-top: 4px;
    overflow: hidden;
    width: 150px;
    z-index: 99;
    font-size: 14px;
}

.editOptionItem {
    border-top: 1px solid #eaecef;
    cursor: pointer;
    padding: 5px 10px;
}

.editOptionItem:hover {
    background-color: #006747;
    color: white;
}

/* Services view */
.newItemButton {
    margin-top: 10px;
}